<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <!-- ensure only the sources defined below are used -->
        <add key="InSpark" value="https://pkgs.dev.azure.com/weareinspark/_packaging/InSpark/nuget/v3/index.json" />
        <add key="NuGet official package source" value="https://api.nuget.org/v3/index.json" />
    </packageSources>

    <packageSourceMapping>
        <!-- key value for <packageSource> should match key values from <packageSources> element -->
        <packageSource key="NuGet official package source">
            <package pattern="*" />
        </packageSource>
        <packageSource key="InSpark">
            <package pattern="InSpark.*" />
        </packageSource>
    </packageSourceMapping>
</configuration>
