<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SampleWebApp</title>
    <base href="/" />
    <link rel="stylesheet" href="@Assets["css/bootstrap/bootstrap.min.css"]" />
    <link rel="stylesheet" href="@Assets["css/app.css"]" />
    <link rel="stylesheet" href="@Assets["SampleWebApp.styles.css"]" />
    <ImportMap />
    <HeadOutlet />
</head>

<body>
    <div id="app">
        <Routes @rendermode="InteractiveServer" />
    </div>

    <div id="blazor-error-ui" data-nosnippet>
        An unhandled error has occurred.
        <a href="." class="reload">Reload</a>
        <span class="dismiss">🗙</span>
    </div>
    <script src="_content/BlazorMonaco/jsInterop.js"></script>
    <script src="_content/BlazorMonaco/lib/monaco-editor/min/vs/loader.js"></script>
    <script src="_content/BlazorMonaco/lib/monaco-editor/min/vs/editor/editor.main.js"></script>
    <script src="_framework/blazor.web.js"></script>
    <script src="test-helper.js"></script>
</body>

</html>

@code {
#if DEBUG
internal static bool IsDebug => true;
#else
    internal static bool IsDebug => false;
#endif
}
