/* /Layout/MainLayout.razor.rz.scp.css */
main[b-2nczhghklk] {
    flex: 1;
    width: 0;
}

.content[b-2nczhghklk] {
    padding-top: 1.1rem;
}

.sidebar[b-2nczhghklk] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-2nczhghklk] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.top-row[b-2nczhghklk]  a,
.top-row[b-2nczhghklk]  .btn-link {
    white-space: nowrap;
    margin-left: 1.5rem;
    text-decoration: none;
}

.top-row[b-2nczhghklk]  a:hover,
.top-row[b-2nczhghklk]  .btn-link:hover {
    text-decoration: underline;
}

.top-row[b-2nczhghklk]  a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-2nczhghklk] {
        display: none;
    }

    .top-row.auth[b-2nczhghklk] {
        justify-content: space-between;
    }

    .top-row[b-2nczhghklk]  a,
    .top-row[b-2nczhghklk]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .sidebar[b-2nczhghklk] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-2nczhghklk] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-2nczhghklk]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-2nczhghklk],
    article[b-2nczhghklk] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-xx90y6r40p] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-xx90y6r40p] {
    height: 3.5rem;
    background-color: rgba(0, 0, 0, 0.4);
}

.navbar-brand[b-xx90y6r40p] {
    font-size: 1.1rem;
}

.oi[b-xx90y6r40p] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-xx90y6r40p] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.nav-item:first-of-type[b-xx90y6r40p] {
    padding-top: 1rem;
}

.nav-item:last-of-type[b-xx90y6r40p] {
    padding-bottom: 1rem;
}

.nav-item[b-xx90y6r40p]  a {
    color: #d7d7d7;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
}

.nav-item[b-xx90y6r40p]  a.active {
    background-color: rgba(255, 255, 255, 0.25);
    color: white;
}

.nav-item[b-xx90y6r40p]  a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-xx90y6r40p] {
        display: none;
    }

    .collapse[b-xx90y6r40p] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
