<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorMonaco.Test</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span aria-hidden="true"></span> Code Editor
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="diff-editor" Match="NavLinkMatch.All">
                <span aria-hidden="true"></span> Diff Editor
            </NavLink>
        </div>
        @if (App.IsDebug)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="test" Match="NavLinkMatch.All">
                    <span aria-hidden="true"></span> Test Page
                </NavLink>
            </div>
        }
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
