@inherits MonacoEditorBase
@using BlazorMonaco.Bridge
@using Microsoft.JSInterop
@using System.Text.Json

<div id="@Id" class="monaco-editor-container @CssClass"></div>

@code {
    [Parameter] public Func<MonacoDiffEditor, DiffEditorConstructionOptions> ConstructionOptions { get; set; }
    [Parameter] public EventCallback<MonacoDiffEditor> OnDidUpdateDiff { get; set; }

    // Events for the original editor (left)
    [Parameter] public EventCallback<MonacoEditor> OnDidCompositionEndOriginal { get; set; }
    [Parameter] public EventCallback<MonacoEditor> OnDidCompositionStartOriginal { get; set; }
    [Parameter] public EventCallback<EditorMouseEvent> OnContextMenuOriginal { get; set; }
    [Parameter] public EventCallback<MonacoEditor> OnDidBlurEditorTextOriginal { get; set; }
    [Parameter] public EventCallback<MonacoEditor> OnDidBlurEditorWidgetOriginal { get; set; }
    [Parameter] public EventCallback<MonacoEditor> OnDidChangeConfigurationOriginal { get; set; }
    [Parameter] public EventCallback<CursorPositionChangedEvent> OnDidChangeCursorPositionOriginal { get; set; }
    [Parameter] public EventCallback<CursorSelectionChangedEvent> OnDidChangeCursorSelectionOriginal { get; set; }
    //OnDidChangeModelOriginal
    //OnDidChangeModelContentOriginal
    //OnDidChangeModelDecorationsOriginal
    //OnDidChangeModelLanguageOriginal
    //OnDidChangeModelLanguageConfigurationOriginal
    //OnDidChangeModelOptionsOriginal
    [Parameter] public EventCallback<ContentSizeChangedEvent> OnDidContentSizeChangeOriginal { get; set; }
    [Parameter] public EventCallback<MonacoEditorBase> OnDidDisposeOriginal { get; set; }
    [Parameter] public EventCallback<MonacoEditor> OnDidFocusEditorTextOriginal { get; set; }
    [Parameter] public EventCallback<MonacoEditor> OnDidFocusEditorWidgetOriginal { get; set; }
    [Parameter] public EventCallback<MonacoEditorBase> OnDidInitOriginal { get; set; }
    [Parameter] public EventCallback<EditorLayoutInfo> OnDidLayoutChangeOriginal { get; set; }
    [Parameter] public EventCallback<PasteEvent> OnDidPasteOriginal { get; set; }
    [Parameter] public EventCallback<ScrollEvent> OnDidScrollChangeOriginal { get; set; }
    [Parameter] public EventCallback<KeyboardEvent> OnKeyDownOriginal { get; set; }
    [Parameter] public EventCallback<KeyboardEvent> OnKeyUpOriginal { get; set; }
    [Parameter] public EventCallback<EditorMouseEvent> OnMouseDownOriginal { get; set; }
    [Parameter] public EventCallback<EditorMouseEvent> OnMouseLeaveOriginal { get; set; }
    [Parameter] public EventCallback<EditorMouseEvent> OnMouseMoveOriginal { get; set; }
    [Parameter] public EventCallback<EditorMouseEvent> OnMouseUpOriginal { get; set; }

    // Events for the modified editor (right)
    [Parameter] public EventCallback<MonacoEditor> OnDidCompositionEndModified { get; set; }
    [Parameter] public EventCallback<MonacoEditor> OnDidCompositionStartModified { get; set; }
    [Parameter] public EventCallback<EditorMouseEvent> OnContextMenuModified { get; set; }
    [Parameter] public EventCallback<MonacoEditor> OnDidBlurEditorTextModified { get; set; }
    [Parameter] public EventCallback<MonacoEditor> OnDidBlurEditorWidgetModified { get; set; }
    [Parameter] public EventCallback<MonacoEditor> OnDidChangeConfigurationModified { get; set; }
    [Parameter] public EventCallback<CursorPositionChangedEvent> OnDidChangeCursorPositionModified { get; set; }
    [Parameter] public EventCallback<CursorSelectionChangedEvent> OnDidChangeCursorSelectionModified { get; set; }
    //OnDidChangeModelModified
    //OnDidChangeModelContentModified
    //OnDidChangeModelDecorationsModified
    //OnDidChangeModelLanguageModified
    //OnDidChangeModelLanguageConfigurationModified
    //OnDidChangeModelOptionsModified
    [Parameter] public EventCallback<ContentSizeChangedEvent> OnDidContentSizeChangeModified { get; set; }
    [Parameter] public EventCallback<MonacoEditorBase> OnDidDisposeModified { get; set; }
    [Parameter] public EventCallback<MonacoEditor> OnDidFocusEditorTextModified { get; set; }
    [Parameter] public EventCallback<MonacoEditor> OnDidFocusEditorWidgetModified { get; set; }
    [Parameter] public EventCallback<MonacoEditorBase> OnDidInitModified { get; set; }
    [Parameter] public EventCallback<EditorLayoutInfo> OnDidLayoutChangeModified { get; set; }
    [Parameter] public EventCallback<PasteEvent> OnDidPasteModified { get; set; }
    [Parameter] public EventCallback<ScrollEvent> OnDidScrollChangeModified { get; set; }
    [Parameter] public EventCallback<KeyboardEvent> OnKeyDownModified { get; set; }
    [Parameter] public EventCallback<KeyboardEvent> OnKeyUpModified { get; set; }
    [Parameter] public EventCallback<EditorMouseEvent> OnMouseDownModified { get; set; }
    [Parameter] public EventCallback<EditorMouseEvent> OnMouseLeaveModified { get; set; }
    [Parameter] public EventCallback<EditorMouseEvent> OnMouseMoveModified { get; set; }
    [Parameter] public EventCallback<EditorMouseEvent> OnMouseUpModified { get; set; }

    public MonacoEditor OriginalEditor { get; set; }
    public MonacoEditor ModifiedEditor { get; set; }

    public override void Dispose()
    {
        OriginalEditor.Dispose();
        ModifiedEditor.Dispose();
        base.Dispose();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // Create the editor
            var options = ConstructionOptions?.Invoke(this);
            await MonacoDiffEditor.CreateDiffEditor(Id, options);

            await SetEventListeners();

            // Create the bridges for the inner editors
#pragma warning disable BL0005
            OriginalEditor = MonacoEditor.CreateVirtualEditor(Id + "_original");
            OriginalEditor.OnDidCompositionEnd = OnDidCompositionEndOriginal;
            OriginalEditor.OnDidCompositionStart = OnDidCompositionStartOriginal;
            OriginalEditor.OnContextMenu = OnContextMenuOriginal;
            OriginalEditor.OnDidBlurEditorText = OnDidBlurEditorTextOriginal;
            OriginalEditor.OnDidBlurEditorWidget = OnDidBlurEditorWidgetOriginal;
            OriginalEditor.OnDidChangeConfiguration = OnDidChangeConfigurationOriginal;
            OriginalEditor.OnDidChangeCursorPosition = OnDidChangeCursorPositionOriginal;
            OriginalEditor.OnDidChangeCursorSelection = OnDidChangeCursorSelectionOriginal;
            OriginalEditor.OnDidContentSizeChange = OnDidContentSizeChangeOriginal;
            OriginalEditor.OnDidDispose = OnDidDisposeOriginal;
            OriginalEditor.OnDidFocusEditorText = OnDidFocusEditorTextOriginal;
            OriginalEditor.OnDidFocusEditorWidget = OnDidFocusEditorWidgetOriginal;
            OriginalEditor.OnDidInit = OnDidInitOriginal;
            OriginalEditor.OnDidLayoutChange = OnDidLayoutChangeOriginal;
            OriginalEditor.OnDidPaste = OnDidPasteOriginal;
            OriginalEditor.OnDidScrollChange = OnDidScrollChangeOriginal;
            OriginalEditor.OnKeyDown = OnKeyDownOriginal;
            OriginalEditor.OnKeyUp = OnKeyUpOriginal;
            OriginalEditor.OnMouseDown = OnMouseDownOriginal;
            OriginalEditor.OnMouseLeave = OnMouseLeaveOriginal;
            OriginalEditor.OnMouseMove = OnMouseMoveOriginal;
            OriginalEditor.OnMouseUp = OnMouseUpOriginal;
            await OriginalEditor.SetEventListeners();
            await OriginalEditor.OnDidInit.InvokeAsync(OriginalEditor);

            ModifiedEditor = MonacoEditor.CreateVirtualEditor(Id + "_modified");
            ModifiedEditor.OnDidCompositionEnd = OnDidCompositionEndModified;
            ModifiedEditor.OnDidCompositionStart = OnDidCompositionStartModified;
            ModifiedEditor.OnContextMenu = OnContextMenuModified;
            ModifiedEditor.OnDidBlurEditorText = OnDidBlurEditorTextModified;
            ModifiedEditor.OnDidBlurEditorWidget = OnDidBlurEditorWidgetModified;
            ModifiedEditor.OnDidChangeConfiguration = OnDidChangeConfigurationModified;
            ModifiedEditor.OnDidChangeCursorPosition = OnDidChangeCursorPositionModified;
            ModifiedEditor.OnDidChangeCursorSelection = OnDidChangeCursorSelectionModified;
            ModifiedEditor.OnDidContentSizeChange = OnDidContentSizeChangeModified;
            ModifiedEditor.OnDidDispose = OnDidDisposeModified;
            ModifiedEditor.OnDidFocusEditorText = OnDidFocusEditorTextModified;
            ModifiedEditor.OnDidFocusEditorWidget = OnDidFocusEditorWidgetModified;
            ModifiedEditor.OnDidInit = OnDidInitModified;
            ModifiedEditor.OnDidLayoutChange = OnDidLayoutChangeModified;
            ModifiedEditor.OnDidPaste = OnDidPasteModified;
            ModifiedEditor.OnDidScrollChange = OnDidScrollChangeModified;
            ModifiedEditor.OnKeyDown = OnKeyDownModified;
            ModifiedEditor.OnKeyUp = OnKeyUpModified;
            ModifiedEditor.OnMouseDown = OnMouseDownModified;
            ModifiedEditor.OnMouseLeave = OnMouseLeaveModified;
            ModifiedEditor.OnMouseMove = OnMouseMoveModified;
            ModifiedEditor.OnMouseUp = OnMouseUpModified;
            await ModifiedEditor.SetEventListeners();
            await ModifiedEditor.OnDidInit.InvokeAsync(ModifiedEditor);
#pragma warning restore BL0005
        }
        await base.OnAfterRenderAsync(firstRender);
    }

    internal override async Task SetEventListeners()
    {
        if (OnDidUpdateDiff.HasDelegate)
            await SetEventListener("OnDidUpdateDiff");
        await base.SetEventListeners();
    }

    [JSInvokable]
    public override async Task EventCallback(string eventName, string eventJson)
    {
        var jsonOptions = new JsonSerializerOptions { PropertyNamingPolicy = JsonNamingPolicy.CamelCase };

        switch (eventName)
        {
            case "OnDidUpdateDiff": await OnDidUpdateDiff.InvokeAsync(this); break;
        }
        await base.EventCallback(eventName, eventJson);
    }

    #region Instance Methods

    // getDiffLineInformationForModified

    // getDiffLineInformationForOriginal

    // getLineChanges

    public async Task<DiffEditorModel> GetModel()
    {
        if (jsRuntime == null)
            return default;
        return await jsRuntime.InvokeAsync<DiffEditorModel>("blazorMonaco.editor.getInstanceDiffModel", Id);
    }

    // restoreViewState

    // saveViewState

    public async Task SetModel(DiffEditorModel model)
    {
        if (jsRuntime == null)
            return;
        await jsRuntime.InvokeVoidAsync("blazorMonaco.editor.setInstanceDiffModel", Id, model);
    }

    // updateOptions

    #endregion
}
